<div class='container'>
  
  <div class='row'>
    <div>
      <span>商品一覧</span>
    </div>
    <div>
      <%= link_to new_admin_item_path do %>
        <i class="fas fa-plus-circle fa-3x" style="color: dimgray;"></i>
      <% end %>
    </div>
  </div>
  
  <div class='row'>
    <div>
      <%= render 'index', item: @item %>
      <%= paginate @items %>
    </div>
  </div>
  
</div>