<div class='container mt-5'>

  <div class='row mb-3'>
    <div class="col-8 h1">商品一覧</div>
    <div class="col-1 offset-3">
      <%= link_to new_admin_item_path do %>
        <a class="btn btn-light btn-lg" href="/admin/items/new" role="button">＋</a>
      <% end %>
    </div>
  </div>
  
  <div class='row'>
    <%= render 'index', item: @item %>
    <%= paginate @items %>
  </div>

</div>