<div class="container mt-5">
   <div class="row">
      <h1 class=".col-lg-8">About</h1>
   </div>
   <div class="row">
        <p class=".col-lg-8">ながのCAKEは全国発送可能なケーキ屋さんです。<br>
                             お子様からお年寄りの方までお召し上がりいただけるよう、<br>
                             様々なバリエーションをご用意しております。<br>
                             また、全国へ発送可能ですので「いつ」でも「どこ」でも注文いただけます。<br>
                             ぜひご注文ください。</p>
   </div>
</div>
