<div class="container mt-5">
   <div class="row">
      <div style="width: 600px; height: 400px; background-image: url(<%= asset_path "top_pic.jpg" %>);">
         <span style="text-align: left; vertical-align: middle;">ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。</span>
      </div>
   </div>

   <div class="row">
     <h4 class=".col-lg-8">
        <strong>
           新着商品
        </strong>
      </h4>
   </div>
   <table>
      <% @items.first(4).each do |item| %>
            <td>
               <%= image_tag item.get_image(200,200)%><br>
               <%= item.name %><br>
               ￥<%= item.tax_include_price %>
            </td>

      <% end %>
   </table>
</div>
