<div class="container mt-5">
   <div class="row">
     <p class=".col-lg-8">ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。</p>
   </div>

   <div class="row">
     <h4 class=".col-lg-8">新着商品</h4>
   </div>
   <p>写真</p>
   <p>商品名</p>
   <p>￥0，000</p>
</div>

