<div class="container mt-5">
 <div class="row">
     <div class="col-md-11 col-md-offset-1" style="font-size:40px;">
      <div class="text-center">
       <strog>THANK  YOU  FOR  SHOPPING ！</strog>
      </div>
     </div>
 </div>
</div>